<nav id="nav" class="navbar navbar-expand-lg fixed-top">
  <div class="container-fluid">
    <div class="navbar-brand order-1 mr-0 ">

      <% if current_user %>

        <%=button_to 'Logout', destroy_user_session_path, method: :delete %>

      <% else %>

        <a type="button" class=" btn btn-outline-dark btn-light rounded-pill" href=<%=new_user_registration_path%>>Sign Up</a>
        <a type="button" class=" btn btn-outline-dark btn-light rounded-pill" href=<%=new_user_session_path%>>Sign in</a>

      <%end %>

    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item nav-link">
          <a class="navbar-brand" href=<%=pages_home_path%>>
            <%= image_tag("img/logo.png", style: "border-radius: 500px; width: 80px; height: 40px;")%>
          </a>
        </li>
        <li class="nav-item nav-link">
          <a class="nav-link active" aria-current="page" href=<%=pages_home_path%>>Home</a>
        </li>
        <li class="nav-item nav-link">
          <a class="nav-link" href=<%=dogs_path%>>Dogs</a>
        </li>

        <% if current_user %>
          <li class="nav-item nav-link">
            <a class="nav-link" href=<%=recipes_path%>>Recipes</a>
          </li>
        <%end%>
      </ul>
    </div>
  </div>
</nav>
<!-- end of nav bar -->

<!-- start of banner -->

<div id="bannerw" style="margin-top:55px; padding-top:55px;" class="container-fluid text-sm-center ">
  <h1 id="heading" class="display-2 text-center">Recipe Lovers</h1>
  <p> ChowMeDown recipe fan page!</p>
  <p>Add your fan photo here if you love these recipes</p>
  <p style="color: purple"> xoxo </p>

  <div class="text-center py-2">
    <% if current_user %>
      <%= link_to 'Add Your Dog', new_dog_path, :class => "btn btn-lg my-4", id: "button" %>
    <% else %>
      <p class="lead">Sign up to your dog and get recipes!</p>

      <div class="btn-group mt-2" role="group" aria-label="Callout Buttons">
        <a type="button" id="button" class="btn btn-lg" href=<%=new_user_registration_path%>>Sign Up!</a>

      <% end %>
    </div>
  </div>
</div>

<!-- end of banner -->

<div id="bannerp" style="padding-bottom:100px; padding-top:100px;">
  <table>
    <tbody>
      <% @dogs.each do |dog| %>
        <tr id="picCont">
          <td style="width:50%; height:207px;" class="mx-auto d-block">
            <% if dog.image.attached? %>
              <%= image_tag dog.image , style:"width:100%; height: 210px;" %>
            <%end%>
          </td>

          <td id="title"><%= dog.title %></td>

          <td><%= link_to 'View Dog', dog, id:"button", class: "btn-sm text-decoration-none"%></td>
          <% if current_user&.admin? %>
            <td><%= link_to 'Edit', edit_dog_path(dog), id: "button", class: "btn-sm text-decoration-none " %></td>
            <td><%= link_to 'Destroy', dog, method: :delete, data: { confirm: 'Are you sure?' }, id: "button", class: " btn-sm text-decoration-none" %></td>
          <% end %>
        </tr>
      <% end %>

    </tbody>
  </table>

</div>

<div id="footer" class=" conatiner mt-auto text-center">
  <div id="bannerw" class="container-fluid text-sm-center p-5 text-white ">
    <% if current_user%>
      <a type="button" class="btn btn-primary btn-lg" href=<%=recipes_path%>>Go to Recipes!</a>
    <% else %>
      <a type="button" class="btn btn-primary btn-lg" href=<%=new_user_registration_path%>>Get Recipes!</a>
    <%end%>
  </div>

  <div class=" py-4">
    <small>&copy; 2021 ChowMeDown | Alannah Smith David</small>
  </div>

</div>
