<!DOCTYPE html>
<html lang="
" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>LogIn</title>
</head>
<nav id="nav" class="navbar navbar-expand-lg fixed-top">
  <div class="container-fluid">

    <div class="navbar-brand order-1 mr-0 ">

      <% if current_user %>

        <%= button_to 'Logout', destroy_user_session_path, method: :delete %>

      <% else %>

        <a type="button" class=" btn btn-outline-dark rounded-pill" href=<%= new_user_registration_path %>>Sign Up</a>
        <a type="button" class=" btn btn-outline-dark rounded-pill" href=<%= new_user_session_path %>>Sign in</a>

      <% end %>

    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item nav-link">
          <a class="navbar-brand" href=<%= pages_home_path %>> <%= image_tag("img/logo.png", style: "border-radius: 500px; width: 80px; height: 40px;") %>
          </a>
        </li>
        <li class="nav-item nav-link">
          <a class="nav-link active" aria-current="page" href=<%= pages_home_path %>>Home</a>
        </li>
        <li class="nav-item nav-link">
          <a class="nav-link" href=<%= dogs_path %>>Dogs</a>
        </li>

        <% if current_user&.admin? %>
          <li class="nav-item nav-link">
            <a class="nav-link" href=<%= recipes_path %>>Recipes</a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
<!-- end of nav bar -->
<div id="bannerp" class="text-center" style="margin-top:55px; padding-top:55px;">
  <h1>New Dog</h1>
  <p>By submitting your dogs information here your agreeing that the information can be displayed publicly</p>

  <%= render 'form', dog: @dog, style: "height:200px;" %>

  <div id="bannerp" style="padding: 10px;">

    <%= link_to 'Back', dogs_path, id: "button", class: "btn text-decoration-none" %>
  </div>
</div>

<div id="footer2" class="text-center pt-3">
  <div>
    <small>&copy; 2021 ChowMeDown | Alannah Smith David</small>
  </div>
</div>
</html>
