<p id="notice"><%= notice %></p>


<div style = "width:400px; height:auto">
  <% if @dog.image.attached? %>
  <%= image_tag(@dog.image, style: 'width:100%')%>
  <% end %>
</div>

<p>
  <strong>name:</strong>
  <%= @dog.title %>
</p>

<p>
  <strong>Age:</strong>
  <%= @dog.age %>
</p>

<p>
  <strong>User:</strong>
  <%= @dog.user.username%>
</p>







<% if current_user == @dog.user || current_user&.admin%>
<%= link_to 'Edit', edit_dog_path(@dog) %>
<% end %>
<%= link_to 'Back', dogs_path %>
